.DS_Store
.idea
.ruby-lsp/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

node_modules/
*/node_modules/
*.log

.env
.env.*
!.env.example
!.env.local.example

supabase/.temp/
supabase/.branches/
supabase/.env.local

# Xcode user-specific files
*.xcuserstate
xcuserdata/
*.xcuserdatad/
